<div class="container">
    <!-- <div [hidden]="!selected"> -->
    <div [hidden]="submitted">
        <h1>Complete Your Delivery</h1>
        <form (ngSubmit)="onSubmit(deliveryForm)" #deliveryForm="ngForm">
            <div class="form-group">
                <label for="name">Charity Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"
                    #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Charity Name is required
                </div>
            </div>
            <div class="form-group">
                <label for="supplierName">Contractor Name</label>
                <input type="text" class="form-control" id="supplierName" required [(ngModel)]="model.supplierName" name="supplierName"
                    #supplierName="ngModel">
                <div [hidden]="supplierName.valid || supplierName.pristine" class="alert alert-danger">
                    Contractor Name is required
                </div>
            </div>
            <div class="form-group">
                <label for="supplierID">Contractor Account Address</label>
                <input type="text" class="form-control" id="supplierID" required [(ngModel)]="model.supplierID" name="supplierID"
                    #supplierID="ngModel">
                <div [hidden]="supplierID.valid || supplierID.pristine" class="alert alert-danger">
                    Contractor Account Address is required
                </div>
            </div><br>

            <button type="submit" class="btn btn-success" [disabled]="!deliveryForm.form.valid">Submit</button>

            <!-- NOT SHOWN IN DOCS -->
            <!-- <div>
                <hr>
                Form values via form.controls = {{showFormControls(deliveryForm)}}
            </div> -->
            <!-- - -->
        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>Thank you for completing your delivery for this Charity!</h2><br>
        <p>Your token reward will be reflected in your account shortly.</p><br><br>
        <button class="btn btn-primary" (click)="newDelivery()">Update New Delivery</button>
    </div>
    <!-- </div> -->

</div>
