<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1"
      routerLinkActive="active"
      ngbTooltip="Add new client"
    >
      <a ngbNavLink routerLink="/app-client">New Charity</a>
      <ng-template ngbNavContent>
        <!-- <app-new-client></app-new-client> -->
      </ng-template>
    </li>
    <!-- <li [ngbNavItem]="2"
      routerLinkActive="active"
      ngbTooltip="Client List"
    >
      <a ngbNavLink routerLink="/client-list">Client List</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li [ngbNavItem]="3"
      routerLinkActive="active"
      ngbTooltip="Add new invoice"
    >
      <a ngbNavLink routerLink="/new-invoice">New Invoice</a>
      <ng-template ngbNavContent>
       <app-new-invoice></app-new-invoice>
      </ng-template>
    </li>
    <li [ngbNavItem]="4"
      routerLinkActive="active"
      ngbTooltip="Update invoice"
    >
      <a ngbNavLink routerLink="/update-invoice">Update Invoice</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li [ngbNavItem]="5"
      routerLinkActive="active"
      ngbTooltip="Generate invoice report"
    >
      <a ngbNavLink routerLink="/invoice-list">Invoice Report</a>
      <ng-template ngbNavContent>
         <app-invoice-list></app-invoice-list>
      </ng-template>
    </li> -->
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  <pre>Active: {{ active }}</pre>
  <router-outlet></router-outlet>
  </div>
  