<div class="container">
    <div [hidden]="submitted">
        <h1>New Charity Form</h1><br>
        <form (ngSubmit)="onSubmit(clientForm)" #clientForm="ngForm">
            <div class="form-group">
                <label for="name">Charity Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"
                    #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                </div>
            </div>
            <div class="form-group">
                <label for="address">Account Address</label>
                <input type="text" class="form-control" id="address" required [(ngModel)]="model.address"
                    name="accountAddress" #address="ngModel">
                <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
                    Account Address is required
                </div>
            </div>

            <div class="form-group">
                <label for="members">Member Size</label>
                <input type="number" class="form-control" id="members" required [(ngModel)]="model.members"
                    name="members" #members="ngModel">
                <div [hidden]="members.valid || members.pristine" class="alert alert-danger">
                    Member Size is required
                </div>
            </div>
            <div class="form-group">
                <label for="primaryContact">Primary Contact</label>
                <input type="email" class="form-control" id="primaryContact" required [(ngModel)]="model.primaryContact"
                    name="primaryContact" #primaryContact="ngModel">
                <div [hidden]="primaryContact.valid || primaryContact.pristine" class="alert alert-danger">
                    Primary Contact is required
                </div>
            </div>
            <div class="form-group">
                <label for="request">Request Information</label>
                <input type="text" class="form-control" id="request" required [(ngModel)]="model.request" name="request"
                    #request="ngModel">
                <div [hidden]="request.valid || request.pristine" class="alert alert-danger">
                    Request Information is required
                </div>
            </div>
            <label for="urgent">Is Your Request Urgent?</label>
            <div class="form-group">
                <label for="yes"><input type="radio" class="form-control" id="urgent" [value]="true" [(ngModel)]="model.urgent" name="urgent" #urgent="ngModel">  Yes</label>
            </div>
            <div class="form-group">
                <label for="no"><input type="radio" class="form-control" id="urgent" [value]="false" [(ngModel)]="model.urgent" name="urgent" #urgent="ngModel"> 
                <!-- style="height:35px; width:35px; vertical-align: middle;" -->
                No</label><br>
            </div>
            <div class=" form-group">
                <label for="type">Request Type</label><br>
                <!-- <mat-form-field> -->
                    <!-- <label>Request Type</label> -->
                    <select [(ngModel)]="model.category" name="type" id="type">
                        <option *ngFor="let type of types" [value]="type.value">
                            {{type.viewValue}}
                        </option>
                    </select>
                <!-- </mat-form-field> -->
                
                <!-- <div [hidden]="types.valid || types.pristine" class="alert alert-danger">
                    Request Information is required
                </div> -->
            </div><br>
            <button type="submit" class="btn btn-success" [disabled]="!clientForm.form.valid">Submit</button><br><br>
            <!-- <button type="submit" class="btn btn-success" >Submit</button>  -->
            <!-- <div>
                <hr>
                Form values via form.controls = {{showFormControls(clientForm)}}
              </div> -->
        </form>
    </div>
    <div [hidden]="!submitted">
        <h2>You submitted the following New Client:</h2>
        <div class="row">
          <div class="col-xs-3">Name: </div>
          <div class="col-xs-9">{{ model.name }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Account Address:  </div>
          <div class="col-xs-9">{{ model.address }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Member Size: </div>
            <div class="col-xs-9">{{ model.members }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Primary Contact: </div>
          <div class="col-xs-9">{{ model.primaryContact }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Request Information: </div>
          <div class="col-xs-9">{{ model.request }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Request Urgency: </div>
          <div class="col-xs-9">{{ model.urgent }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Request Type: </div>
          <div class="col-xs-9">{{ model.category }}</div>
        </div>
        <br>
        <!-- <button class="btn btn-primary" (click)="submitted=false">New</button> -->
        <button class="btn btn-primary" (click)="newClient()">New Request</button>
    </div>
</div>